.rotate-90{
  writing-mode: vertical-rl;
  transform:rotate(180deg);
  text-orientation: mixed;
}
.active{
  border-left:4px solid #EF0B01;}

*{
  font-family: Arial, serif}
@media screen and (max-width:991px) {
  .rotate-90{
    writing-mode: lr;
    transform:rotate(0deg);
    text-orientation: initial;
  }
  .active{border-left:0;
    border-bottom:4px solid #EF0B01;
  }
  .navbar-collapse{
    width:75vw;
  }
  .navbar-expand-lg{
    z-index: 100;


  }
  @media (max-width: 768px) {
    .navbar .border-start,
    .navbar .border-2,
    .navbar .border-light-subtle {
      border: none;
    }
  }
}


