<nav class="navbar  navbar-expand-lg navbar-light position-fixed h-100 rotate-90 py-0 " style="background-color: #ffffff">
  <div class="container h-100 align-content-start" >

    <button class="navbar-toggler mt-5 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-0 h-100 justify-content-evenly justify-content-md-start justify-content-sm-start align-items-md-center">

        <li class="nav-item py-3 order-last order-lg-0"><a class="nav-link" routerLink="register" routerLinkActive="active">Register</a></li>
        <li class="nav-item py-3 order-4 order-lg-1">   <a class="nav-link" routerLink="login"    routerLinkActive="active">Login</a></li>
        <li class="nav-item py-3 order-3 order-lg-2">   <a class="nav-link" routerLink="cart"     routerLinkActive="active">Orders</a></li>
        <li class="nav-item py-3 order-2 order-lg-3">   <a class="nav-link" routerLink="search"   routerLinkActive="active">Menu</a></li>
        <li class="nav-item py-3 order-0 order-lg-last"><a class="nav-link" routerLink="home"     routerLinkActive="active">Home</a></li>

      </ul>
    </div>
  </div>
</nav>
<!--        <button class="btn  me-2 rounded-circle position-absolute end-0" style="background-color: #00897B" type="submit"><i class="bi bi-search text-light " (click)="onSearch()"></i></button>-->
<!--<a class="position-absolute start-50" routerLink="home"><h4><b>FoodBox</b></h4></a>-->
