<div class="container-fluid  vh-100 " style="padding-left: 70px">

  <div class="row h-100 p-4 ">
    <div class="col-lg-6 col-md-12 col-lg-6 h-100  px-5 py-4" style="height: auto">
      <h3  class="mb-5 brand-color">FooDBox</h3>
      <h1 class="display-5 ">
        <q>              Authentic Indian cuisine made with fresh, seasonal ingredients
        </q>          </h1>
      <p class="fw-medium text-black-50">
        Embark on a culinary journey through the vibrant and diverse tapestry of Indian flavors. Indulge in the rich, aromatic, and mouthwatering dishes that have made India's cuisine famous worldwide. From spicy curries to tandoori delights, our food ordering website brings the essence of India's culinary heritage to your doorstep. Satisfy your cravings for delicious Indian food with our easy online ordering. Explore a world of taste with every bite.
        <button routerLink="/menu" class="btn btn-lg d-block rounded-0 my-5 w-50 text-light" style="background-color: #EF0B01">Order Now</button>
    </div>
    <div class="col-lg-6 col-md-12  image" style="background-color: #EAEEF2"></div>
  </div>
</div>
