<div class="container" style="padding-left: 70px">
  <div class="col-xxl-12 col-xl-9 col-lg-10 col-md-11 col-sm-12 m-auto">

    <h3 class="text-center my-2 display-5"> <b>Cart</b></h3>

    <h3 *ngIf="orders.length == 0" class=" m-auto display-2 border-0 text-center  mt-5">
      Cart is empty!
    </h3>


    <div *ngIf="orders.length > 0" class="card m-4 border-0 ">
      <div *ngFor="let order of orders" class="list-group my-2">

        <ul class="list-group">

          <li class="list-group-item rounded-0" *ngFor="let item of order">

            {{ ProductNames.get(item.productId) }}

            <b class="ms-5 ">$</b>{{ item.price ? item.price.toString() : '' }}
            <input type="number" class="d-inline float-end form-control quantity-field border-2 ms-2 rounded-0 py-2"
              style="width: 8ch" min="1" step="1" max="10" [value]="item.quantity">
            <button class="btn  float-end text-light rounded-0 py-2" (click)="onDelete(item)"
              style="background-color: #EF0B01">Delete</button>
          </li>
        </ul>


      </div>
      <div *ngIf="orders.length > 0" class="d-flex">
        <button class="btn text-light rounded-0 p-2 px-4 w-50 me-4" style="background-color: #0168ef"
          (click)="clear()">Clear Cart</button>

        <button class="btn text-light  rounded-0 p-2 px-4 w-50 ms-4" style="background-color: #EF0B01" (click)="onCheckout()">Order</button>

      </div>
    </div>
  </div>
</div>
